@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-night h-screen flex items-center justify-between text-white
    flex-col;
  }

  h1 {
    @apply text-xl font-bold text-aquamarine mb-4;
  }

  form {
    @apply flex-1 flex flex-col justify-center space-y-4;
  }

  button {
    @apply bg-aquamarine text-night rounded-md px-4 py-2 hover:bg-raspberry
    focus:outline-none focus:ring-2 focus:ring-aquamarine;
  }

  label {
    @apply text-aquamarine font-medium mb-1;
  }

  input {
    @apply bg-melon text-night rounded-md px-4 py-2 focus:outline-none
    focus:ring-2 focus:ring-aquamarine;
  }

  select {
    @apply bg-melon text-night rounded-md px-4 py-2 focus:outline-none
    focus:ring-2 focus:ring-aquamarine;
  }

  checkbox {
    @apply bg-melon text-aquamarine rounded focus:outline-none focus:ring-2
    focus:ring-aquamarine mr-2;
  }

  footer {
    @apply text-teal text-center text-xs;
  }

  a {
    @apply text-aquamarine hover:text-raspberry;
  }
}

@layer components {
  .is-disabled {
    @apply opacity-50 cursor-not-allowed hover:bg-aquamarine;
  }
}
